button { background: blue; color: white; font-size: 2em; border: none; padding: .5em 1em; border-radius: 1em; }
button:hover { background: #6666ff; }
button:active { background: #000099; }

body { padding: 0 1em; }
