button { background: purple; color: white; border: none; padding: .5em 1em; border-radius: 1em; font-size: 1em; border: 3px solid green; }
button:hover { background: #e600e6; }
button:active { background: #4d004d; }

body { padding: 0 1em; }
