@import "my-framework/button";

body {
  padding: 0 1em;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
  text-transform: uppercase;
}
h6 {
}
