button { background: green; color: white; font-size: 2em; border: none; padding: .5em 1em; border-radius: 1em; }
button:hover { background: #00e600; }
button:active { background: #001a00; }

body { padding: 0 1em; font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 { line-height: 1; margin: 26px 0; }

h1 { font-size: 110px; }

h2 { font-size: 68px; }

h3 { font-size: 42px; }

h4 { font-size: 26px; }

h5 { font-size: 16px; text-transform: uppercase; }

h6 { font-size: 16px; }
