button { background: red; color: white; border: none; padding: .5em 1em; border-radius: 1em; font-size: 1em; border: 3px solid cyan; }
button:hover { background: #ff6666; }
button:active { background: #cc0000; }

body { padding: 0 1em; font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 { line-height: 1; margin: 26px; }

h1 { font-size: 110px; }

h2 { font-size: 68px; }

h3 { font-size: 42px; }

h4 { font-size: 26px; }

h5 { font-size: 16px; text-transform: uppercase; }

h6 { font-size: 16px; }
